@model IEnumerable<BirdEye.Common.Entity.Customer>
@{
	ViewBag.Title = "BasicData";
	Layout = "~/Views/Study/Study.cshtml";
}

<div ng-controller="InvoiceCtrl">
	<b>Invoice</b>
	<br />
	<br />
	<table>
		<tr>
			<td>Quanitity</td>
			<td>Cost</td>
		</tr>
		<tr>
			<td>
				<input type="integer" min="0" ng-model="qty" required /></td>
			<td>
				<input type="number" ng-model="cost" required /></td>
		</tr>
	</table>
	<hr/>
	<p>Total:{{qty*cost|currency}}</p>
</div>
