@{
    ViewBag.Title = "View371";
}
<h2>
    371 & 0720 相册</h2>
<ul id="slideshow">
    <li>
        <h3>
            TinySlideshow v1</h3>
        <span>../../Content/photos/IMG_20130212_162454.jpg</span>
        <p>
            Loren ipsum dolor sit amet, consectetur</p>
        <a href="#">
            <img src="../../Content/thumbnails/IMG_20130212_162454.jpg" alt="Orange Fish" /></a>
    </li>
    <li>
        <h3>
            Sea Turtle</h3>
        <span>../../Content/photos/IMG_20130212_162019.jpg</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris
            nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut,
            felis.</p>
        <img src="../../Content/thumbnails/IMG_20130212_162019.jpg" alt="Sea Turtle" />
    </li>
    <li>
        <h3>
            Red Coral</h3>
        <span>../../Content/photos/IMG_20130212_162221.jpg</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris
            nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut,
            felis.</p>
        <a href="#">
            <img src="../../Content/thumbnails/IMG_20130212_162221.jpg" alt="Red Coral" /></a> </li>
    <li>
        <h3>
            Coral Reef</h3>
        <span>../../Content/photos/IMG_20130212_162231.jpg</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris
            nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut,
            felis.</p>
        <a href="#">
            <img src="../../Content/thumbnails/IMG_20130212_162231.jpg" alt="Coral Reef" /></a> </li>
    <li>
        <h3>
            Blue Fish</h3>
        <span>../../Content/photos/IMG_20130212_162440.jpg</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris
            nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut,
            felis.</p>
        <img src="../../Content/thumbnails/IMG_20130212_162440.jpg" alt="Blue Fish" />
    </li>
    <li>
        <h3>
            Small Fish</h3>
        <span>../../Content/photos/IMG_20130212_162446.jpg</span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna. Mauris
            nulla. Donec nec mauris. Proin nulla dolor, bibendum et, dapibus in, euismod ut,
            felis.</p>
        <a href="#">
            <img src="../../Content/thumbnails/IMG_20130212_162446.jpg" alt="Small Fish" /></a> </li>
</ul>
<div id="wrapper">
    <div id="fullsize">
        <div id="imgprev" class="imgnav" title="Previous Image">
        </div>
        <div id="imglink">
        </div>
        <div id="imgnext" class="imgnav" title="Next Image">
        </div>
        <div id="image">
        </div>
        <div id="information">
            <h3>
            </h3>
            <p>
            </p>
        </div>
    </div>
    <div id="thumbnails">
        <div id="slideleft" title="Slide Left">
        </div>
        <div id="slidearea">
            <div id="slider">
            </div>
        </div>
        <div id="slideright" title="Slide Right">
        </div>
    </div>
    <div style="width: 98%; margin: 20px auto; padding: 50px 0; clear: both; overflow: hidden;">
        <p>
            <strong><a href="http://www.baidu.com" target="_blank">搜索</a></strong>
        </p>
        <p>
        </p>
        <p>
          鸟儿看</p>
    </div>
    <br />
    More pictures : <a href="http://www.baidu.com/" title="HTML DRIVE - Free DHMTL Scripts,Jquery plugins,Javascript,CSS,CSS3,Html5 Library">
        www.baidu.com </a>
</div>
<script type="text/javascript" src="../../Scripts/compressed.js"></script>
<script type="text/javascript">
    $('slideshow').style.display = 'none';
    $('wrapper').style.display = 'block';
    var slideshow = new TINY.slideshow("slideshow");
    window.onload = function () {
        slideshow.auto = true;
        slideshow.speed = 5;
        slideshow.link = "linkhover";
        slideshow.info = "information";
        slideshow.thumbs = "slider";
        slideshow.left = "slideleft";
        slideshow.right = "slideright";
        slideshow.scrollSpeed = 4;
        slideshow.spacing = 5;
        slideshow.active = "#fff";
        slideshow.init("slideshow", "image", "imgprev", "imgnext", "imglink");
    }
</script>
